{% extends "layout.html" %} {% block content %}

<form method="POST">
	{% csrf_token %}
	<div class="my-5 mx-4">
		<h1 class="form_heading fs-1">{{form_action}} Wifi Credentials</h1>
		{% if error %}
		<h1 class="form_heading fs-4">*{{error}}!</h1>
		{% endif %}
		<hr />
		<p class="fs-4 mt-1 my-0 form_heading">Your Wifi's SSID</p>
		<input
			type="text"
			class="form_input mt-2 px-2 fs-4 w-100"
			placeholder="Desired wifi ssid here...."
			style="border-radius: 7.5px"
			name="ssid"
			value="{{ssid}}"
		/>
		<p class="fs-4 mt-1 my-0 form_heading">Your Wifi's Password</p>
		<input
			type="password"
			class="form_input mt-2 px-2 fs-4 w-100"
			placeholder="Desired wifi password here...."
			style="border-radius: 7.5px"
			name="password"
			value="{{password}}"
		/>
		<button
			type="submit"
			class="form_button mt-3 px-4 py-1 border-0 fs-4 rounded-pill"
			style="border-radius: 7.5px"
		>
			{{form_action}}
		</button>
	</div>
</form>

{% endblock content %}
